[v-cloak] {
	display: none;
}

#content {
	display: flex;
	flex-wrap: wrap;
	margin: 24px;
	gap: 24px;
}

#chart-container {
	flex-grow: 1;
}

#chart {
	background-color: #f5f5f5;
}

#sidebar {
	flex-grow: 1;
}

.character-selector {
	display: flex;
	align-items: center;
	gap: 4px;
}
